{% extends 'base.html' %} {% block content %}
<h1>Add Details </h1>
<div class="container form-group">
    
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %} {% for field in form %} {{ field.errors }}
        <label>{{field.label}}</label>
        <input placeholder= "{{field.label}}" name="{{field.name}}" class="form-control" /> 
        <input id="id_image" type="file" class="" name="image">
        <div class=row></div>
        {% endfor %}
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
{% endblock %}
