static/* linguist-vendored
accounts/templates/* linguist-vendored
projects/templates/* linguist-vendored
charity_choice/templates/* linguist-vendored
charity_donation/templates/* linguist-vendored
htmlcov/* linguist-vendored