{% extends "base.html" %} {% block title %}Reset Password{% endblock %} {% block content %}
<div id="page-inner">
    <div class=row></div>
    <div class=row></div>

    <div class="col-md-4 col-lg-4 text-right"></div>
    <div class="col-md-4 col-lg-4 text-center" id="col-form">
        <div class="col-md-2 col-lg-2 text-right"></div>
        <div class="col-md-8 col-lg-8 text-center">
            <div class=row></div>
            <div class=row></div>
            <h1>Reset Password:</h1>
            <div class=row></div>
            <div class=row></div>
            <div class="card" id="form-card">

                <form method="post" class="accountform">
                    <h4>Please specify your email address to receive instructions for resetting it.</h4>
                    <br>
                    <div style="display:none">
                        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                    </div>
                    {{ form.email.errors }}
                    <p>
                        <h5 for="id_email" class="control-label required-field">E-mail address:
                            </> {{ form.email }} <button type="submit" class="btn btn-success">Reset Password</button></p>
                </form>

            </div>
            <div class=row></div>
            <div class=row></div>
            <div class=row></div>
        </div>
        <div class="col-md-2 col-lg-2 text-right"></div>
    </div>
    <div class="col-md-4 col-lg-4 text-right"></div>

</div>

{% endblock %}
