{% extends 'base.html' %} {% load staticfiles %} {% block content %}
<h1>Complete Project </h1>
<div class="container form-group">

  <form method="POST">
    {% csrf_token %}
    <div class="row">
      {% for element in project_team %}
      <h1>  {{ element.current_user }} </h1>
      {% endfor %}
     <h1>  {{ team_members }} </h1>
     <h1>  {{ project.budget }} </h1>
     <h1>  {{ cash }} </h1>
     <h1>  {{ prize }} </h1>
    </div>
    <div class=row></div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>







{% endblock %}