{% extends "base.html" %} {% load staticfiles %} {% load bootstrap_tags %} {% block content %}
<div class="header">
    <h1 class="page-header">
        Donate
    </h1>
    <ol class="breadcrumb text-left">
        <li><a href="{% url 'login_page' %}">Home</a></li>
        <li class="active">Donate</li>
    </ol>
    {% if messages %}
    <div class="alert alert-success">
        <div class="messages text-center">
            {% for message in messages %} {{ message }} {% endfor %}
        </div>
    </div>
    {% endif %}

</div>

<div id="page-inner">


    <div class="row"></div>


    <div class="col-md-3 col-lg-3 text-center" id="status-container">
        <div class="row"></div>
        <div class="col-md-12 col-lg-12 text-center" id="col-charity">
        
            <div class="card horizontal">
                <div class="card-image">
                    <img src="{% static 'img/keldorn.png' %}" height="200" width="240">
                </div>
                <div class="card-stacked">
                    <div id="card-charity">
                        <h2 class="header">Horizontal Card</h2>
                        <br>
                        <p>I am a very simple card. I am good at containing small bits of information.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">Donate 5€</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-3 col-lg-3 text-center" id="status-container">
        <div class="row"></div>
        <div class="col-md-12 col-lg-12 text-center" id="col-charity">
            
            <div class="card horizontal">
                <div class="card-image">
                    <img src="{% static 'img/keldorn.png' %}" height="200" width="240">
                </div>
                <div class="card-stacked">
                    <div id="card-charity">
                        <h2 class="header">Horizontal Card</h2>
                        <br>
                        <p>I am a very simple card. I am good at containing small bits of information.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">Donate 5€</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-3 col-lg-3 text-center" id="status-container">
        <div class="row"></div>
        <div class="col-md-12 col-lg-12 text-center" id="col-charity">

            
            <div class="card horizontal">
                <div class="card-image">
                    <img src="{% static 'img/keldorn.png' %}" height="200" width="240">
                </div>
                <div class="card-stacked">
                    <div id="card-charity">
                        <h2 class="header">Horizontal Card</h2>
                        <br>
                        <p>I am a very simple card. I am good at containing small bits of information.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">Donate 5€</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="col-md-3 col-lg-3 text-center" id="status-container">
        <div class="row"></div>
        <div class="col-md-12 col-lg-12 text-center" id="col-charity">
            
            <div class="card horizontal">
                <div class="card-image">
                    <img src="{% static 'img/keldorn.png' %}" height="200" width="240">
                </div>
                <div class="card-stacked">
                    <div id="card-charity">
                        <h2 class="header">Horizontal Card</h2>
                        <br>
                        <p>I am a very simple card. I am good at containing small bits of information.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">Donate 5€</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- /. PAGE INNER  -->



    {% endblock %}
