{% extends 'base.html' %} {% load staticfiles %} {% block content %}
<div id="page-inner">
  <div class=row></div>
  <div class=row></div>

  <div class="col-md-8 col-lg-8 col-xl-4 text-right"></div>
  <div class="col-md-8 col-lg-8 col-xl-4 text-center" id="col-form">
    <div class="col-md-2 col-lg-2 text-right"></div>
    <div class="col-md-8 col-lg-8 text-center">
      <div class=row></div>
      <div class=row></div>
      <h1>Join Project Team:</h1>
      <div class=row></div>
      <div class=row></div>
      <div class="card text-left" id="form-card">
        <form method="POST" id="skill-form">
        {% csrf_token %}
            {{ form }}
        <div class=row></div>
        <div class=row></div>    
        <div class="row text-center">
            <button type="submit" class="btn_login" id="btn-status">Join Team</button>
        </form>
      </div>
      <div class=row></div>
        <div class=row></div>
         <div class=row></div>
    </div>
    <div class="col-md-2 col-lg-2 text-right"></div>
  </div>
  <div class="col-md-4 col-lg-4 text-right"></div>

</div>

{% endblock %}
