{% extends "base.html" %} {% load staticfiles %} {% load bootstrap_tags %} {% block content %}
<div class="header">
    <h1 class="page-header">
        {{ project.name }}
        <button class="btn_login modal-trigger" href="#issueModal">Issue</button>
        <button class="btn_login modal-trigger" href="#skillsetModal">Skillset</button>
        <a href="{% url 'join_team' pk=project.id %}"><button type="submit" class="btn_login" >Join</button></a>
        <a href="{% url 'leave_team' pk=project.id %}"><button type="submit" class="btn_login" >Leave</button></a>
        <a href="{% url 'advance_project' pk=project.id %}"><button type="submit" class="btn_login" >Advance</button></a>
        <a href="{% url 'complete_project' pk=project.id %}"><button type="submit" class="btn_login" >Complete</button></a>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Dashboard</a></li>
        <li class="active">Projects</li>
    </ol>
</div>
<div id="page-inner">
    <div class="row">
        <div class="col-md-5 col-lg-5 text-left">
            <div class="row">
                <div class="col-md-12 col-lg-12 text-center">
                    <div class="row" id="row-table">
                        <div class="col-md-5 col-lg-5 text-left" id="details-left">
                            <h3>Project Manager</h3>
                        </div>
                        <div class="col-md-7 col-lg-7 text-left" id="details-right">
                            <h3>{{ project.proposed_by }}</h3>
                        </div>
                    </div>
                    <div class="row" id="row-table">
                        <div class="col-md-5 col-lg-5 text-left" id="details-left">
                            <h3>Issues</h3>
                        </div>
                        <div class="col-md-7 col-lg-7 text-left" id="details-right">
                            <h3>{{ issue_counter }}</h3>
                        </div>
                    </div>
                    <div class="row" id="row-table">
                        <div class="col-md-5 col-lg-5 text-left" id="details-left">
                            <h3>Budget</h3>
                        </div>
                        <div class="col-md-7 col-lg-7 text-left" id="details-right">
                            <h3>{{ project.budget }}</h3>
                        </div>
                    </div>
                    <div class="row" id="row-table">
                        <div class="col-md-5 col-lg-5 text-left" id="details-left">
                            <h3>Project Status</h3>
                        </div>
                        <div class="col-md-7 col-lg-7 text-left" id="details-right">
                            <h3>{{ project.status }}</h3>
                        </div>
                    </div>
                    <div class="row" id="row-table">
                        <div class="col-md-5 col-lg-5 text-left" id="details-left">
                            <h3>Team</h3>
                        </div>
                        <div class="col-md-7 col-lg-7 text-left" id="details-right">
                            {% for element in project_team %}
                            <h3>{{ element }}</h3>
                            {% endfor %}
                        </div>
                    </div>
                   <div class="row" id="row-table">
                        <div class="col-md-5 col-lg-5 text-left" id="details-left">
                            <h3>HTML</h3>
                        </div>
                        <div class="col-md-2 col-lg-2 text-left" id="details-right">
                            <h3>{{requiredskills.html}}</h3>
                        </div>
                        <div class="col-md-5 col-lg-5 text-left" id="details-right">
                            {% for element in skill_coverage %}
                            {% if element.skill == 'html' %}
                            <h3>{{ element.user }}</h3>
                            <button data-id="{{ element.id }}" onclick="rejectCandidate(this)" class="btn btn-danger">Delete</button>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row" id="row-table">
                        <div class="col-md-5 col-lg-5 text-left" id="details-left">
                            <h3>CSS</h3>
                        </div>
                        <div class="col-md-2 col-lg-2 text-left" id="details-right">
                            <h3>{{requiredskills.css}}</h3>
                        </div>
                        <div class="col-md-5 col-lg-5 text-left" id="details-right">
                            {% for element in skill_coverage %}
                            {% if element.skill == 'css' %}
                            <h3>{{ element.user }}</h3>
                            <button data-id="{{ element.id }}" onclick="rejectCandidate(this)" class="btn btn-danger">Delete</button>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row" id="row-table">
                        <div class="col-md-5 col-lg-5 text-left" id="details-left">
                            <h3>JS</h3>
                        </div>
                        <div class="col-md-2 col-lg-2 text-left" id="details-right">
                            <h3>{{requiredskills.js}}</h3>
                        </div>
                        <div class="col-md-5 col-lg-5 text-left" id="details-right">
                            {% for element in skill_coverage %}
                            {% if element.skill == 'js' %}
                            <h3>{{ element.user }}</h3>
                            <button data-id="{{ element.id }}" onclick="rejectCandidate(this)" class="btn btn-danger">Delete</button>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row" id="row-table">
                        <div class="col-md-5 col-lg-5 text-left" id="details-left">
                            <h3>Python</h3>
                        </div>
                        <div class="col-md-2 col-lg-2 text-left" id="details-right">
                            <h3>{{requiredskills.python}}</h3>
                        </div>
                        <div class="col-md-5 col-lg-5 text-left" id="details-right">
                            {% for element in skill_coverage %}
                            {% if element.skill == 'python' %}
                            <h3>{{ element.user }}</h3>
                            <button data-id="{{ element.id }}" onclick="rejectCandidate(this)" class="btn btn-danger">Delete</button>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row" id="row-table">
                        <div class="col-md-5 col-lg-5 text-left" id="details-left">
                            <h3>DB</h3>
                        </div>
                        <div class="col-md-2 col-lg-2 text-left" id="details-right">
                            <h3>{{requiredskills.db}}</h3>
                        </div>
                        <div class="col-md-5 col-lg-5 text-left" id="details-right">
                            {% for element in skill_coverage %}
                            {% if element.skill == 'db' %}
                            <h3>{{ element.user }}</h3>
                            <button data-id="{{ element.id }}" onclick="rejectCandidate(this)" class="btn btn-danger">Delete</button>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-6 text-left">
            <div class="row">
                <div class="col-md-12 col-lg-12 text-center" id="title">
                    {% for issue in issues %}
                    <h3 style="color:blue">{{issue.name}}</h3>
                    <h4>{{ issue.description }}</h4>
                    <h4>{{ issue.cost }}</h4>
                    <h4>{{ issue.assigned_to }}</h4>
                    <a href="{% url 'assign_issue' pk=issue.id %}"><button type="submit" class="btn_login" >Assign to me</button></a>
                    <h1>--------</h1>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-lg-5 text-left">
            <div class="row">
                <div class="col-md-12 col-lg-12 text-center">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 text-left">
                            <div class="project" style="background-image: url('{{ MEDIA_URL }}{{ project.image }}')"></div>
                        </div>
                        <div class="col-md-9 col-lg-9 text-left">
                            <h3 style="display:inline">{{ project.description }}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-lg-3 text-left">
                            <div class="project" style="background-image: url('{{ MEDIA_URL }}{{ project.image }}')"></div>
                        </div>
                        <div class="col-md-9 col-lg-9 text-left">
                            <h3 style="display:inline">Lorem Voluptates quis quas, vitae reiciendis, ab commodi.</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-lg-3 text-left">
                            <img src="/assets/img/ruda.png" height="120" width="100">
                        </div>
                        <div class="col-md-9 col-lg-9 text-left">
                            <h3 style="display:inline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. .</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-lg-3 text-left">
                            <img src="/assets/img/light.png" height="120" width="100">
                        </div>
                        <div class="col-md-9 col-lg-9 text-left">
                            <h3 style="display:inline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1 col-lg-1 text-left"></div>
        <div class="col-md-6 col-lg-6 text-left">
            <div class="row">
                <div class="col-md-12 col-lg-12 text-center" id="title">
                    <div class="project" style="background-image: url('{{ MEDIA_URL }}{{ project.image }}')"></div>
                </div>
            </div>

            <div id="skillsetModal" class="modal">

                <h1>Skillset</h1>
                <div class="modal-content">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="input-field col s12" id="field">
                                <i class="material-icons prefix">HTML</i>
                                <input id="name" name="html" type="number" class="validate" value="{{requiredskills.html}}" >
                                <label for="icon_prefix">{{requiredskills.html}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12" id="field">
                                <i class="material-icons prefix">CSS</i>
                                <input id="name" name="css" type="number" class="validate" value="{{requiredskills.css}}">
                                <label for="icon_prefix">{{requiredskills.css}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12" id="field">
                                <i class="material-icons prefix">JS</i>
                                <input id="name" name="js" type="number" class="validate" value="{{requiredskills.js}}">
                                <label for="icon_prefix">{{requiredskills.js}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12" id="field">
                                <i class="material-icons prefix">PYTHON</i>
                                <input id="name" name="python" type="number" class="validate" value="{{requiredskills.python}}">
                                <label for="icon_prefix">{{requiredskills.python}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12" id="field">
                                <i class="material-icons prefix">DB</i>
                                <input id="name" name="db" type="number" class="validate" value="{{requiredskills.db}}">
                                <label for="icon_prefix">{{requiredskills.db}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <button class="btn waves-effect waves-light" type="submit" name="action" id="add">Skillify</button>
                        </div>
                    </form>
                </div>
            </div>


            <div id="issueModal" class="modal">

                <h1>Raise an issue</h1>
                <div class="modal-content">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="input-field col s12" id="field">
                                <i class="material-icons prefix">assignment</i>
                                <input id="name" name="name" type="text" class="validate">
                                <label for="icon_prefix">Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12" id="field">
                                <i class="material-icons prefix">assignment</i>
                                <input id="name" name="description" type="text" class="validate">
                                <label for="icon_prefix">Description</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12" id="field">
                                <i class="material-icons prefix">assignment</i>
                                <input id="name" name="cost" type="number" class="validate">
                                <label for="icon_prefix">Cost</label>
                            </div>
                        </div>
                        <div class="row">
                            <button class="btn waves-effect waves-light" type="submit" name="action" id="add">Raise an Issue</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>

<script>
    var elem = document.querySelectorAll('.modal')
    var instance = M.Modal.init(elem)
</script>


{% endblock %}
