{% extends "base.html" %} {% load staticfiles %} {% load bootstrap_tags %} {% block content %}
<div class="header">
    <h1 class="page-header">
        {{ project.name }} Startup Page
    </h1>
    <ol class="breadcrumb">
        <li><a href="{% url 'login_page' %}">Home</a></li>
        <li><a href="{% url 'projects' %}">Dashboard</a></li>
        <li class="active">{{ project.name }}</li>
    </ol>
</div>
<div id="page-inner">
    <div class="row">
        <div class="col-md-4 col-lg-4 text-left">
            <div class="row">
                <div class="col-md-9 col-lg-9 text-center">
                    <div class="row" id="row-table">
                        <div class="col-md-4 col-lg-4 text-left" id="details-left">
                            <h4>Project Manager</h4>
                        </div>
                        <div class="col-md-8 col-lg-8 text-left" id="details-right">
                            <div class="col-md-3 col-lg-3 text-center" style="margin:0px">
                                {% for profile in profiles %} {% if profile.owner == project.proposed_by %}
                                <img src='{{ MEDIA_URL }}{{ profile.image }}' class="img-responsive" id="details-portrait" /> {% endif %} {% endfor %}
                            </div>
                            <div class="col-md-9 col-lg-9 text-left">
                                <h3>{{ project.proposed_by }}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="row-table">
                        <div class="col-md-4 col-lg-4 text-left" id="details-left">
                            <h4>LeanCoins</h4>
                        </div>
                        <div class="col-md-8 col-lg-8 text-left" id="details-right">
                            <div class="col-md-3 col-lg-3 text-center">
                                <i class="fab fa-trade-federation fa-2x fa-rotate-180 fa-flip-vertical" id="lean-coin"></i>
                            </div>
                            <div class="col-md-9 col-lg-9 text-left">
                                <h3>{{ project.budget }}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="row-table">
                        <div class="col-md-4 col-lg-4 text-left" id="details-left">
                            <h4>Project Status</h4>
                        </div>
                        <div class="col-md-8 col-lg-8 text-left" id="details-right">
                            <div class="col-md-6 col-lg-6 text-center">
                                <h3>{{ project.status }}</h3>
                            </div>
                            <div class="col-md-6 col-lg-6 text-left">
                            </div>
                        </div>
                    </div>
                    <div class="row" id="row-table">
                        <div class="col-md-4 col-lg-4 text-left" id="details-left">
                            <h4>Team Members</h4>
                        </div>
                        <div class="col-md-8 col-lg-8 text-left" id="details-right">
                            {% for element in project_team %}
                            <b>{{ element }} </b> {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-4 col-lg-4 text-left">
            <div class="row" id="row-table">
                <div class="col-md-12 col-lg-12 text-center" id="details-left">
                    <h2>Team Requirements</h2>
                </div>
            </div>
            <div class="row" id="row-table">
                <div class="col-md-2 col-lg-2 text-left" id="details-left">
                    <h4>Skill</h4>
                </div>
                <div class="col-md-2 col-lg-2 text-left" id="skill-cell">
                    <img src="{% static 'img/logo/html.png' %}" class="img-responsive" id="img-logo" />
                </div>
                <div class="col-md-2 col-lg-2 text-left" id="skill-cell">
                    <img src="{% static 'img/logo/css.png' %}" class="img-responsive" id="img-logo" />
                </div>
                <div class="col-md-2 col-lg-2 text-left" id="skill-cell">
                    <img src="{% static 'img/logo/js.png' %}" class="img-responsive" id="img-logo" />
                </div>
                <div class="col-md-2 col-lg-2 text-left" id="skill-cell">
                    <img src="{% static 'img/logo/mysql.png' %}" class="img-responsive" id="img-logo" />
                </div>
                <div class="col-md-2 col-lg-2 text-left" id="skill-cell">
                    <img src="{% static 'img/logo/python.png' %}" class="img-responsive" id="img-logo" />
                </div>
            </div>
            <div class="row" id="row-table">
                <div class="col-md-2 col-lg-2 text-left" id="details-left">
                    <h4>Required</h4>
                </div>
                <div class="col-md-2 col-lg-2 text-center" id="skill-cell">
                    <h2>{{requiredskills.html}}</h2>
                </div>
                <div class="col-md-2 col-lg-2 text-center" id="skill-cell">
                    <h2>{{requiredskills.css}}</h2>
                </div>
                <div class="col-md-2 col-lg-2 text-center" id="skill-cell">
                    <h2>{{requiredskills.js}}</h2>
                </div>
                <div class="col-md-2 col-lg-2 text-center" id="skill-cell">
                    <h2>{{requiredskills.db}}</h2>
                </div>
                <div class="col-md-2 col-lg-2 text-center" id="skill-cell">
                    <h2>{{requiredskills.python}}</h2>
                </div>
            </div>
            <div class="row" id="row-table">
                <div class="col-md-2 col-lg-2 text-left" id="skill-detail">
                    <h4>Applied</h4>
                </div>
                <div class="col-md-2 col-lg-2 text-center" id="skill-cell">
                    {% for element in skill_coverage %} {% if element.skill == 'html' %}
                    <div class="row">
                    <div class="col-md-9 col-lg-9 text-center">
                    <h4>{{ element.user|truncatechars:10 }}</h4>
                    </div>
                    <div class="col-md-2 col-lg-2 text-left">
                    <i class="small material-icons" data-id="{{ element.id }}" onclick="rejectCandidate(this)">highlight_off</i>
                    </div>
                    </div>
                     {% endif %} {% endfor %}
                     
                </div>
                <div class="col-md-2 col-lg-2 text-center" id="skill-cell">
                    {% for element in skill_coverage %} {% if element.skill == 'css' %}
                    <h4>{{ element.user }}</h4>
                    <button data-id="{{ element.id }}" onclick="rejectCandidate(this)" class="btn btn-danger">Delete</button> {% endif %} {% endfor %}
                </div>
                <div class="col-md-2 col-lg-2 text-center" id="skill-cell">
                    {% for element in skill_coverage %} {% if element.skill == 'js' %}
                    <h4>{{ element.user }}</h4>
                    <button data-id="{{ element.id }}" onclick="rejectCandidate(this)" class="btn btn-danger">Delete</button> {% endif %} {% endfor %}
                </div>
                <div class="col-md-2 col-lg-2 text-center" id="skill-cell">
                    {% for element in skill_coverage %} {% if element.skill == 'db' %}
                    <h4>{{ element.user }}</h4>
                    <button data-id="{{ element.id }}" onclick="rejectCandidate(this)" class="btn btn-danger">Delete</button> {% endif %} {% endfor %}
                </div>
                <div class="col-md-2 col-lg-2 text-center" id="skill-cell">
                    {% for element in skill_coverage %} {% if element.skill == 'python' %}
                    <h4>{{ element.user }}</h4>
                    <button data-id="{{ element.id }}" onclick="rejectCandidate(this)" class="btn btn-danger">Delete</button> {% endif %} {% endfor %}
                </div>
            </div>
        </div>
    </div>
<div class="row"></div>
    <div class="row">
        <div class="col-md-5 col-lg-5 text-left">
            <div class="row">
                <div class="col-md-12 col-lg-12 text-center">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 text-left">
                            <div class="project" style="background-image: url('{{ MEDIA_URL }}{{ project.image }}')"></div>
                        </div>
                        <div class="col-md-8 col-lg-8 text-left">
                            <h3 style="display:inline">{{ project.description }}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-lg-3 text-left">
                            <div class="project" style="background-image: url('{{ MEDIA_URL }}{{ project.image }}')"></div>
                        </div>
                        <div class="col-md-8 col-lg-8 text-left">
                            <h3 style="display:inline">Lorem Voluptates quis quas, vitae reiciendis, ab commodi.</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-lg-3 text-left">
                            <img src="/assets/img/ruda.png" height="120" width="100">
                        </div>
                        <div class="col-md-8 col-lg-8 text-left">
                            <h3 style="display:inline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. .</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-lg-3 text-left">
                            <img src="/assets/img/light.png" height="120" width="100">
                        </div>
                        <div class="col-md-8 col-lg-8 text-left">
                            <h3 style="display:inline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1 col-lg-1 text-left"></div>
        <div class="col-md-6 col-lg-6 text-left">
            <div class="row">
                <div class="col-md-12 col-lg-12 text-center" id="title">
                    <div class="project" style="background-image: url('{{ MEDIA_URL }}{{ project.image }}')"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12 text-center" id="title">
                    {% for element in project_log %}
                    <h3>{{ element.message }}</h3>
                    <h3>{{ element.message_date }}</h3>
                    {% endfor %}
                </div>
            </div>
            <button class="btn_login modal-trigger" href="#issueModal">Issue</button>
            <button class="btn_login modal-trigger" href="#skillsetModal">Skillset</button>
            <a href="{% url 'join_team' pk=project.id %}"><button type="submit" class="btn_login" >Join</button></a>
            <a href="{% url 'leave_team' pk=project.id %}"><button type="submit" class="btn_login" >Leave</button></a>
            <a href="{% url 'advance_project' pk=project.id %}"><button type="submit" class="btn_login" >Advance</button></a>
            <a href="{% url 'complete_project' pk=project.id %}"><button type="submit" class="btn_login" >Complete</button></a>

            <div id="skillsetModal" class="modal">

                <h1>Skillset</h1>
                <div class="modal-content">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="input-field col s12" id="field">
                                <i class="material-icons prefix">HTML</i>
                                <input id="name" name="html" type="number" class="validate" value="{{requiredskills.html}}">
                                <label for="icon_prefix">{{requiredskills.html}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12" id="field">
                                <i class="material-icons prefix">CSS</i>
                                <input id="name" name="css" type="number" class="validate" value="{{requiredskills.css}}">
                                <label for="icon_prefix">{{requiredskills.css}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12" id="field">
                                <i class="material-icons prefix">JS</i>
                                <input id="name" name="js" type="number" class="validate" value="{{requiredskills.js}}">
                                <label for="icon_prefix">{{requiredskills.js}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12" id="field">
                                <i class="material-icons prefix">PYTHON</i>
                                <input id="name" name="python" type="number" class="validate" value="{{requiredskills.python}}">
                                <label for="icon_prefix">{{requiredskills.python}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12" id="field">
                                <i class="material-icons prefix">DB</i>
                                <input id="name" name="db" type="number" class="validate" value="{{requiredskills.db}}">
                                <label for="icon_prefix">{{requiredskills.db}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <button class="btn waves-effect waves-light" type="submit" name="action" id="add">Skillify</button>
                        </div>
                    </form>
                </div>
            </div>


            <div id="issueModal" class="modal">

                <h1>Raise an issue</h1>
                <div class="modal-content">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="input-field col s12" id="field">
                                <i class="material-icons prefix">assignment</i>
                                <input id="name" name="name" type="text" class="validate">
                                <label for="icon_prefix">Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12" id="field">
                                <i class="material-icons prefix">assignment</i>
                                <input id="name" name="description" type="text" class="validate">
                                <label for="icon_prefix">Description</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12" id="field">
                                <i class="material-icons prefix">assignment</i>
                                <input id="name" name="cost" type="number" class="validate">
                                <label for="icon_prefix">Cost</label>
                            </div>
                        </div>
                        <div class="row">
                            <button class="btn waves-effect waves-light" type="submit" name="action" id="add">Raise an Issue</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>

<script>
    var elem = document.querySelectorAll('.modal')
    var instance = M.Modal.init(elem)
</script>


{% endblock %}
