{% extends 'base.html' %} {% load staticfiles %} {% block content %}


<div id="page-inner">
  <div class=row></div>
  <div class=row></div>

  <div class="col-md-8 col-lg-8 col-xl-4 text-right"></div>
  <div class="col-md-8 col-lg-8 col-xl-4 text-center" id="col-form">
    <div class="col-md-2 col-lg-2 text-right"></div>
    <div class="col-md-8 col-lg-8 text-center">
      <div class=row></div>
      <div class=row></div>
      <h1>Propose Project:</h1>
      <div class=row></div>
      <div class=row></div>
      <div class="card" id="form-card">
        <form method="POST" enctype="multipart/form-data" id="skill-form">
            {% csrf_token %} 
            {% for field in form %} {{ field.errors }}
            {% if field.name != 'image' %}
            <label>{{field.label}}</label>
            <input placeholder= "{{field.label}}" name="{{field.name}}" class="form-control" />
            {% else %}
            
            <label>Project Plan</label>
            <input placeholder= "{{field.label}}" type="file" class="form-control" name="image">
            {% endif %}
            
            <div class=row></div>
            {% endfor %}
             <div class=row></div>
    
            <button type="submit" class="btn btn-success">Propose</button>
        </form>
     </div>
    <div class=row></div>
    <div class=row></div>
    <div class=row></div>
    </div>
    <div class="col-md-2 col-lg-2 text-right"></div>
  </div>
  <div class="col-md-4 col-lg-4 text-right"></div>

</div>


{% endblock %}
