{% extends 'base.html' %} {% load staticfiles %} {% block content %}
<h1>Add Details </h1>

<div class="container form-group">

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
      <select id="type_of_algorithm" name="personality">
          <option value="" disabled selected>{{ my_profile.personality }}</option>
          {% for type in personalities %}
              <option value={{type.name}}>{{type.name}}</option>
          {% endfor %}
        </select>
    </div>
    <div class="row">
      <select id="type_of_algorithm" name="position">
          <option value="" disabled selected>{{ my_profile.position }}</option>
          {% for type in positions %}
              <option value={{type.name}}>{{type.name}}</option>
          {% endfor %}
        </select>
    </div>
    <label>image</label>
    <input placeholder="image" type="file" class="form-control" name="image">
    <div class=row></div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>


<script>

    var elem = document.querySelectorAll('select')
    var instance = M.FormSelect.init(elem)
    
</script>




{% endblock %}

