{% extends "base.html" %} {% load staticfiles %} {% load bootstrap_tags %} {% block content %}
<div class="header">
    <h1 class="page-header">
        User Profile
    </h1>
    <ol class="breadcrumb text-left">
        <li><a href="{% url 'login_page' %}">Home</a></li>
        <li><a href="{% url 'projects' %}">Dashboard</a></li>
        <li class="active">Profile</li>
    </ol>

</div>

<div id="page-inner">
    <div class="row">
        <div class="col-md-5 col-lg-5 text-left" id="col-mydetails">
            <div class="col-md-4 col-lg-4 text-left">
                {% if my_profile.image == "" %}
                <img src="{% static 'img/default_portrait.jpg' %}" class="img-responsive" id="profile-img" /> {% else %}
                <img src='{{ MEDIA_URL }}{{ my_profile.image }}' class="img-responsive" id="profile-img" /> {% endif %}
            </div>
            <div class="col-md-8 col-lg-8 text-left">
                <div class="row">
                    <div class="col-md-8 col-lg-8" id="personal-details">
                        <h1>{{ user.username }}</h1>
                        {% if my_profile.position == 'PM' %}
                        <h4 style="font-style:italic;color:#234a66;margin-top:10px;">Project Manager</h4>
                        {% else %}
                        <h4 style="font-style:italic; color:#234a66;margin-top:10px;">{{ my_profile.position }}</h4>
                        {% endif %}
                    </div>
                    <div class="col-md-4 col-lg-4 text-right" id="personal-details">
                        <button class="btn_login modal-trigger" href="#detailsModal" id="btn-mydetails">Edit</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-lg-4" id="personal-details">
                        <h4>Email:</h4>
                    </div>
                    <div class="col-md-1 col-lg-1">
                    </div>
                    <div class="col-md-5 col-lg-5" id="my-details">
                        <h4>{{ user.email }}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-lg-4" id="personal-details">
                        <h4>Personality:</h4>
                    </div>
                    <div class="col-md-1 col-lg-1">
                    </div>
                    <div class="col-md-5 col-lg-5" id="my-details">
                        {% if my_profile.personality == '' %}
                        <a href="{% url 'gamification_test' pk=user.id %}"><button type="submit" class="btn_login" id="btn-mypersonality">Take Test</button></a>
                        {% else %}
                        <h4>{{ my_profile.personality }}</h4>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-lg-4" id="personal-details">
                        <h4>LeanCoins:</h4>
                    </div>
                    <div class="col-md-1 col-lg-1">
                    </div>
                    <div class="col-md-5 col-lg-5" id="my-details">
                        <div class="col-md-2 col-lg-2" style="padding:0px;">
                            <i class="fab fa-trade-federation fa-2x fa-rotate-180 fa-flip-vertical" id="lean-coin"></i>
                        </div>
                        <h4>{{ my_profile.my_wallet }}</h4>
                    </div>
                </div>
                {% if my_profile.position == 'PM' %}
                <div class="row">
                    <div class="col-md-4 col-lg-4" id="personal-details">
                        <h4>Started Projects:</h4>
                    </div>
                    <div class="col-md-1 col-lg-1">
                    </div>
                    <div class="col-md-5 col-lg-5" id="my-details">
                        <h4>{{ project_count }}</h4>
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-md-4 col-lg-4" id="personal-details">
                        <h4>Assigned Issues:</h4>
                    </div>
                    <div class="col-md-1 col-lg-1">
                    </div>
                    <div class="col-md-5 col-lg-5" id="my-details">
                        <h4>{{ issue_count }}</h4>
                    </div>
                </div>
                {% if my_profile.position == 'Coder' %}
                <div class="row">
                    <div class="col-md-4 col-lg-4" id="personal-details">
                        <h4>Joined Teams:</h4>
                    </div>
                    <div class="col-md-1 col-lg-1">
                    </div>
                    <div class="col-md-5 col-lg-5" id="my-details">
                        {% for element in joined_projects %}
                        <h4 id="project-team">{{ element.name }}</h4>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-1 col-lg-1 text-left"></div>
        <div class="col-md-5 col-lg-5 text-left">
            {% if my_profile.position == 'PM' %}
            <div class="row" id="row-table">
                <div class="col-md-12 col-lg-12 text-center" id="details-left">
                    <h2>My Projects</h2>
                </div>
            </div>
            {% for project in projects %}
            <div class="row" id="row-table">
                <div class="col-md-3 col-lg-3 text-center" id="mydetails-table">
                    <a href="{% url 'project_details' pk=project.id %}">
                        <h4 style="color:#234a66; padding-top:0px;">{{ project.name }}</h4>
                    </a>

                </div>
                <div class="col-md-5 col-lg-5 text-left" id="mydetails-table">
                    <h5>{{ project.description|truncatechars:80 }}</h5>
                </div>
                <div class="col-md-2 col-lg-2 text-left" id="mydetails-table">
                    <div class="col-md-3 col-lg-3 text-left">
                        <i class="fab fa-trade-federation fa-2x fa-rotate-180 fa-flip-vertical" id="lean-coin"></i>
                    </div>
                    <div class="col-md-1 col-lg-1 text-left">
                    </div>
                    <div class="col-md-6 col-lg-6 text-left">
                        <h4 style="margin-left:10px">{{ project.budget }}</h4>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2 text-center" id="mydetails-table">
                    <h4>{{ project.status }}</h4>
                </div>
            </div>
            {% endfor%} {% if my_profile.my_wallet > 450 %}
            <div class="row text-right" id="issue-btn-row">
                <a href="{% url 'propose_project' %}"><button type="submit" class="btn_login" id="btn-issue">New Project</button></a>
            </div>
            {% endif %} {% elif my_profile.position == 'Coder' %}
            <div class="row" id="row-table">
                <div class="col-md-12 col-lg-12 text-center" id="details-left">
                    <h2>Joined Teams</h2>
                </div>
            </div>
            {% for project in joined_projects %}
            <div class="row" id="row-table">
                <div class="col-md-3 col-lg-3 text-center" id="mydetails-table">
                    <a href="{% url 'project_details' pk=project.id %}">
                        <h4 style="color:#234a66; padding-top:0px;">{{ project.name }}</h4>
                    </a>
                </div>
                <div class="col-md-5 col-lg-5 text-left" id="mydetails-table">
                    <h5>{{ project.description|truncatechars:80 }}</h5>
                </div>
                <div class="col-md-2 col-lg-2 text-left" id="mydetails-table">
                    <div class="col-md-3 col-lg-3 text-left">
                        <i class="fab fa-trade-federation fa-2x fa-rotate-180 fa-flip-vertical" id="lean-coin"></i>
                    </div>
                    <div class="col-md-1 col-lg-1 text-left">
                    </div>
                    <div class="col-md-6 col-lg-6 text-left">
                        <h4 style="margin-left:10px">{{ project.budget }}</h4>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2 text-center" id="mydetails-table">
                    <h4>{{ project.status }}</h4>
                </div>
            </div>
            {% endfor%} {% else %}
            <div class="col-md-5 col-lg-5 text-left" id="col-assignedissues"></div>
            {% endif %}
        </div>
    </div>

    <div class="row"></div>
    <div class="row"></div>
    <div class="row">
        {% if my_profile.position == 'Coder' %}
        <div class="col-md-5 col-lg-5 text-left" id="col-assignedissues">
            <div class="row" id="row-table">
                <div class="col-md-12 col-lg-12 text-center" id="details-left">
                    <h2>Assigned Issues</h2>
                </div>
            </div>
            {% for issue in issues %}
            <div class="row" id="row-table">
                <div class="col-md-2 col-lg-2 text-center" id="mydetails-table">
                    <h4 style="color:red; padding-top:0px;">{{issue.name|truncatechars:20}}</h4>
                </div>
                <div class="col-md-2 col-lg-2 text-center" id="mydetails-table">
                    <h4 style="color:#234a66; padding-top:0px;">{{issue.project}}</h4>
                </div>
                <div class="col-md-4 col-lg-4 text-left" id="mydetails-table">
                    <h5>{{ issue.description|truncatechars:80 }}</h5>
                </div>
                <div class="col-md-2 col-lg-2 text-left" id="mydetails-table">
                    <div class="col-md-3 col-lg-3 text-left">
                        <i class="fab fa-trade-federation fa-2x fa-rotate-180 fa-flip-vertical" id="lean-coin"></i>
                    </div>
                    <div class="col-md-1 col-lg-1 text-left">
                    </div>
                    <div class="col-md-6 col-lg-6 text-left">
                        <h4 style="margin-left:10px">{{ issue.cost}}</h4>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2 text-center" id="mydetails-table">
                    <a href="{% url 'issue_fixed' pk=issue.id %}"><button type="submit" class="btn_login tooltipped" data-position="top" data-tooltip="Issue Fixed" id="btn-fixed">Fixed</button></a>
                </div>
            </div>
            {% endfor%}
        </div>
        {% else %}
        <div class="col-md-5 col-lg-5 text-left" id="col-assignedissues"></div>
        {% endif %}
        <div class="col-md-1 col-lg-1 text-left"></div>
        <div class="col-md-5 col-lg-5 text-right" id="col-mydetails">
            <!--<a href="{% url 'charities' %}">-->
            <!--<i class="fa fa-shipping-cart"></i> Donate!-->
            <!--{% if project_count > 0 %}-->
            <!--<label class="badge badge-warning">{{ project_count }}</label>-->
            <!--{% endif %}-->
        </div>
    </div>

    <div id="detailsModal" class="modal">
        <div class="row"></div>
        <div class="row">
            <div class="col-md-4 col-lg-4 text-right"></div>

            <div class="col-md-4 col-lg-4 text-center">
                <h1>Edit Personal Details</h1>
            </div>
            <div class="col-md-4 col-lg-4 text-right"></div>
        </div>
        <div class="row">
            <div class="row"></div>
            <div class="row"></div>
            <div class="col-md-3 col-lg-3 text-right"></div>

            <div class="col-md-6 col-lg-6 text-center">
                <div class="card" id="form-card">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row text-left">
                            <h2>My Position:</h2>
                        </div>
                        <div class="row"></div>
                        <div class="row"></div>
                        <div class="row"></div>
                        <div class="row">
                            <select id="type_of_algorithm" name="position">
                              <option value="{{ my_profile.position }}" disabled selected>{{ my_profile.position }}</option>
                              {% for type in positions %}
                                  <option value={{type.name}}>{{type.name}}</option>
                              {% endfor %}
                            </select>
                        </div>
                        
                        <div class="row"></div>
                        <div class="row text-left">
                            <h2>My Portrait:</h2>
                        </div>
                        <div class="row"></div>
                        <div class="row"></div>
                        <div class="row">
                            <input placeholder="image" type="file" class="form-control" name="image">
                        </div>
                        <div class="row"></div>
                        <div class="row"></div>
                        <div class="row"></div>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    var elem = document.querySelector('.modal')
    var instance = M.Modal.init(elem)

    var elem = document.querySelectorAll('select')
    var instance = M.FormSelect.init(elem)
</script>

{% endblock %}
