{% extends "base.html" %} {% load staticfiles %} {% load bootstrap_tags %} {% block content %}
<div class="header">
    <h1 class="page-header">
        User Profile
    </h1>
    <ol class="breadcrumb text-left">
        <li><a href="#">Home</a></li>
        <li><a href="#">Dashboard</a></li>
        <li class="active">Profile</li>
    </ol>

</div>
<div id="page-inner">
    <div class="col-md-7 col-lg-7 text-center">
        <div class="row">
            <div class="col-md-3 col-lg-3 text-center" id="title">
                
                <div class="project" style="background-image: url('{{ MEDIA_URL }}{{ my_profile.image }}')"></div>
                
            </div>
            <div class="col-md-5 col-lg-5 text-left">
                <div class="row" style="display:inline">
                    <div class="col-md-3 col-lg-3 text-left">
                        <h4 style="display:inline">Username:</h4>
                    </div>
                    <div class="col-md-9 col-lg-9 text-left">
                        <h3 style="display:inline">{{ user.username }}</h3>
                    </div>
                </div>
                <div class="row"></div>
                <div class="row" style="display:inline">
                    <div class="col-md-3 col-lg-3 text-left">
                        <h4 style="display:inline">Email: </h4>
                    </div>
                    <div class="col-md-9 col-lg-9 text-left">
                        <h3 style="display:inline">{{ user.email }}</h3>
                    </div>
                </div>
                <div class="row"></div>
                
                <div class="row" style="display:inline">
                    <div class="col-md-3 col-lg-3 text-left">
                        <h4 style="display:inline">Position: </h4>
                    </div>

                    <div class="col-md-9 col-lg-9 text-left">
                        <h3 style="display:inline">{{ my_profile.position }}</h3>
                    </div>
                </div>
                <div class="row"></div>
                <div class="row" style="display:inline">
                    <div class="col-md-3 col-lg-3 text-left">
                        <h4 style="display:inline">Personality: </h4>
                    </div>
                    <div class="col-md-9 col-lg-9 text-left">
                        <h3 style="display:inline">{{ my_profile.personality }}</h3>
                    </div>
                </div>
                
            </div>
            <div class="col-md-3 col-lg-3 text-center" id="title" style="background-color:white"></div>
        </div>
        <div class="row" style="background-color:white"></div>
        <div class="row" style="background-color:white"></div>
        <div class="row" style="background-color:white"></div>
        <div class="row">
            <div class="col-md-12 col-lg-12 text-center" id="title">
                {% for project in projects %}
                <div class="row">
                    <div class="col-md-3 col-lg-3 text-left">
                        <img src="{% static 'img/quest.jpg' %}" height="100" width="120">
                    </div>
                    <div class="col-md-9 col-lg-9 text-left">
                        <h3 style="display:inline">{{ project.name }}</h3>
                        <h4>{{ project.description }}</h4>
                    </div>
                </div>
                {% endfor%}
            </div>
        </div>
    </div>
    <div class="col-md-4 col-lg-4 text-center">
        <div class="row">
            <div class="col-md-12 col-lg-12 text-center" id="title">
                <div class="col-md-3 col-lg-3 text-center">
                    <div class="row">
                        <h1>{{ my_profile.my_wallet }}</h1>
                    </div>
                    <div class="row">
                        <h3>Wallet</h3>
                    </div>
                    <div class="row" style="background-color:white"></div>
                </div>
                <div class="col-md-3 col-lg-3 text-center">
                    <div class="row">
                        <h1>{{ project_count }}</h1>
                    </div>
                    <div class="row">
                        <h3>Started Projects</h3>
                    </div>
                    <div class="row" style="background-color:white"></div>
                </div>
                <div class="col-md-3 col-lg-3 text-center">
                    <div class="row">
                        <h1>{{ issue_count }}</h1>
                    </div>
                    <div class="row">
                        <h3>Issues</h3>
                    </div>
                    <div class="row" style="background-color:white"></div>
                </div>
                <div class="col-md-3 col-lg-3 text-center">
                    <div class="row">
                        {% for element in joined_projects %}
                        <h4>{{ element.name }}</h4>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <h3>Joined Teams</h3>
                    </div>
                    <div class="row" style="background-color:white"></div>
                </div>
            </div>
        </div>
        <div class="row" style="background-color:white"></div>

        <div class="row">
            <div class="col-md-12 col-lg-12 text-center" id="title">
                <div class="col-md-12 col-lg-12 text-center">
                    <div class="row" style="background-color:white"></div>
                    <div class="row">
                        <h2>Propose Project:</h2>
                    </div>
                    <div class="row">
                        <a href="{% url 'propose_project' %}"><button type="submit" class="btn_login" >New Project</button></a>
                        <a href="{% url 'my_details'  pk=user.id %}"><button type="submit" class="btn_login" >Add Details</button></a>
                        <button class="btn_login modal-trigger" href="#detailsModal">Edit Details</button>
                    </div>
                    <div class="row" style="background-color:white"></div>
                    <div class="row" style="background-color:white"></div>
                </div>
            </div>
        </div>
        <div class="row" style="background-color:white"></div>
        <div class="row" style="background-color:white"></div>
        <div class="row" style="background-color:white"></div>
        <div class="row">
            <div class="col-md-12 col-lg-12 text-center" id="title">
                {% for issue in issues %}
                <h3 style="color:blue">{{ issue.name }}</h3>
                <h4>{{ issue.description }}</h4>
                <h4>{{ issue.cost }}</h4>
                <a href="{% url 'issue_fixed' pk=issue.id %}"><button type="submit" class="btn_login" >Fixed</button></a>
                {% endfor%}
            </div>
<div id="detailsModal" class="modal">
    
   <h1>Edit Details </h1>
<div class="container form-group">

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
        <select id="type_of_algorithm" name="personality">
          <option value="{{ my_profile.personality }}" disabled selected>{{ my_profile.personality }}</option>
          {% for type in personalities %}
              <option value={{type.name}}>{{type.name}}</option>
          {% endfor %}
        </select>
        </div>
        <div class="row">
        <select id="type_of_algorithm" name="position">
          <option value="{{ my_profile.position }}" disabled selected>{{ my_profile.position }}</option>
          {% for type in positions %}
              <option value={{type.name}}>{{type.name}}</option>
          {% endfor %}
        </select>
        </div>
        <label>image</label>
        <input placeholder="image" type="file" class="form-control" name="image">
        <div class=row></div>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>

        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>




<script>
    var elem = document.querySelector('.modal')
    var instance = M.Modal.init(elem)

    var elem = document.querySelectorAll('select')
    var instance = M.FormSelect.init(elem)
    
</script>

{% endblock %}
