{% extends "base.html" %} {% load staticfiles %} {% load bootstrap_tags %} {% block content %}




<div class="cont_login">
    <div class="cont_info_log_sign_up">
        <div class="col_md_login">
            <div class="cont_ba_opcitiy">

                <h2>LOGIN</h2>
                <p>Press the button to login</p>
                <button class="btn_login" onclick="cambiar_login()">LOGIN</button>
            </div>
        </div>
        <div class="col_md_sign_up">
            <div class="cont_ba_opcitiy">
                <h2>SIGN UP</h2>


                <p>Press the button to register</p>

                <button class="btn_sign_up" onclick="cambiar_sign_up()">REGISTER</button>
            </div>
        </div>
    </div>


    <div class="cont_back_info">
        <div class="cont_img_back_grey">
            <img src="{% static 'img/ai.jpg' %}" />
        </div>

    </div>
    <div class="cont_forms">
        <div class="cont_img_back_">
            <img src="{% static 'img/ai.jpg' %}" />
        </div>
        <div class="cont_form_login">
            <a href="#" onclick="ocultar_login_sign_up()"><i class="material-icons" id="form-arrow">&#xE5C4;</i></a>
            <form method="post" action="{% url 'login_page' %}?next={{ next }}" class="accountform">
                <fieldset class="form-group">
                    {% csrf_token %} {{ login_form }}

                    <p><a href="{% url 'password_reset' %}">Forgot my password</a></p>

                    <button type="submit" class="btn_login" onclick="cambiar_login()">LOGIN</button>
                </fieldset>
            </form>
        </div>

        <div class="cont_form_sign_up">
            <a href="#" onclick="ocultar_login_sign_up()"><i class="material-icons" id="form-arrow">&#xE5C4;</i></a>
            <form method="post" action="{% url 'login_page' %}" class="accountform">
                <fieldset class="form-group">
                    {% csrf_token %} {{ user_form }}
                    <button type="submit" class="btn_sign_up" onclick="cambiar_sign_up()">REGISTER</button>
                </fieldset>
            </form>
        </div>

    </div>


</div>

<script src="{% static 'materialize/js/materialize.min.js' %}"></script>


<script type="text/javascript">
    $(document).ready(function() {
        $('.collapsible').collapsible();
        $('select').material_select();
        $(".button-collapse").sideNav();
    });
</script>
{% endblock %}
