{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project Gamification</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}" media="screen,projection" />
    <!-- Bootstrap Styles-->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="{% static 'js/morris/morris-0.4.3.min.css' %}" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="{% static 'css/custom-styles.css' %}" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <a class="dropdown-button btn-medium navbar-brand waves-effect waves-dark active" data-activates="dropdown_main"><i class="large material-icons">menu</i></a>

            </div>
            <div class="nav navbar-top-links navbar-left">
                <strong style="font-weight: bold">Big Game Hunters</strong>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown4"><i class="fa fa-envelope fa-fw"></i> <i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown3"><i class="fa fa-tasks fa-fw"></i> <i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown2"><i class="fa fa-bell fa-fw"></i> <i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown1"><i class="fa fa-user fa-fw"></i> <b>John Doe</b> <i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </nav>
        <!-- Dropdown Structure -->
        <ul id="dropdown_main" class="dropdown-content">
            <li>
                <a href="ui-elements.html" class="waves-effect waves-dark"><i class="fa fa-desktop"></i></a>
            </li>
            <li>
                <a href="chart.html" class="waves-effect waves-dark"><i class="fa fa-bar-chart-o"></i></a>
            </li>
            <li>
                <a href="tab-panel.html" class="waves-effect waves-dark"><i class="fa fa-qrcode"></i></a>
            </li>

            <li>
                <a href="table.html" class="waves-effect waves-dark"><i class="fa fa-table"></i></a>
            </li>
            <li>
                <a href="form.html" class="waves-effect waves-dark"><i class="fa fa-edit"></i></a>
            </li>
            <li>
                <a href="table.html" class="waves-effect waves-dark"><i class="fa fa-table"></i></a>
            </li>
            <li>
                <a href="form.html" class="waves-effect waves-dark"><i class="fa fa-edit"></i></a>
            </li>
        </ul>

        <!--/. NAV TOP  -->

        <!-- /. NAV SIDE  -->

        <div id="page-wrapper">
            <div class="header">
                <h1 class="page-header">
                    Project Gamification
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Dashboard</a></li>
                    <li class="active">Data</li>
                </ol>

            </div>
            <div id="page-inner">
                <div class="row"></div>
                <div class="row">
                    <div class="col-md-1 col-lg-1 text-center">
                    </div>
                    <div class="col-md-2 col-lg-2 text-center" id="title">
                        <h1>PENDING</h1>
                    </div>
                    <div class="col-md-2 col-lg-2 text-center" id="title">
                        <h1>ANALYSIS</h1>
                    </div>
                    <div class="col-md-2 col-lg-2 text-center" id="title">
                        <h1>DEVELOPMENT</h1>
                    </div>
                    <div class="col-md-2 col-lg-2 text-center" id="title">
                        <h1>TEST</h1>
                    </div>
                    <div class="col-md-2 col-lg-2 text-center" id="title">
                        <h1>DEPLOY</h1>
                    </div>
                    <div class="col-md-1 col-lg-1 text-center">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1 col-lg-1 text-center">
                    </div>
                    <div class="col-md-2 col-lg-2 text-center" id="bucket">

                    </div>
                    <div class="col-md-2 col-lg-2 text-center" id="bucket">

                    </div>
                    <div class="col-md-2 col-lg-2 text-center" id="bucket">

                    </div>
                    <div class="col-md-2 col-lg-2 text-center" id="bucket">

                    </div>
                    <div class="col-md-2 col-lg-2 text-center" id="bucket">
                    </div>
                    <div class="col-md-1 col-lg-1 text-center">
                    </div>
                </div>




            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="{% static 'js/jquery-1.10.2.js' %}"></script>

    <!-- Bootstrap Js -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script src="{% static 'materialize/js/materialize.min.js' %}"></script>

    <!-- Metis Menu Js -->
    <script src="{% static 'js/jquery.metisMenu.js' %}"></script>
    <!-- Morris Chart Js -->
    <script src="{% static 'js/morris/raphael-2.1.0.min.js' %}"></script>
    <script src="{% static 'js/morris/morris.js' %}"></script>


    <script src="{% static 'js/easypiechart.js' %}"></script>
    <script src="{% static 'js/easypiechart-data.js' %}"></script>

    <script src="{% static 'js/Lightweight-Chart/jquery.chart.js' %}"></script>

    <!-- Custom Js -->
    <script src="{% static 'js/custom-scripts.js' %}"></script>


</body>

</html>
